_CoqProject
Makefile.conf
Makefile.bak
Makefile.coq
Makefile.coq.conf
*.d
*.vo
*.vok
*.vos
*.glob
*.pdf
*.crashcoqide
*.pyc
tmp.*
coqidescript
coqdoc
*#
*~
*.ml
*.cmi
*.cmx
*.cmxs
*.o
*.native
*.aux
result
.lia.cache
.nia.cache
